<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link href="todo-style.css" rel="stylesheet" />
</head>
<body>
    <h1 class="todo-vue-title">Todo App Vue Js</h1>

    <div id="app">
        <input type="text" @keyup.enter="addTask" v-model="currentTask">
        <ul>
            <li v-for="task in tasks" :class="{'strike' : task.isCompleted}">
                <input type="text" v-if="task.isEditing" @keyup.enter="editTask(task.text)" v-model="editValue">
                <span v-else @click="task.isCompleted = !task.isCompleted">{{task.text}}</span>
                <button @click="removeTask(task.text)">X</button>
                <button @click="changeEditing(task.text)">*</button>
            </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="todo-js.js"></script>
</body>
</html>